{% extends 'layout.html' %}

{% block body %}
  <h1>Subscriptions</h1>
 <!--  <ul class="list-group">
    {% for podcast in subscriptions %}
      <li class="list-group-item">{{podcast.title}}</li>
      <li class="list-group-item">{{podcast.description}}</li>
    {% endfor %}
  </ul> -->
  <div class="list-group">
    {% for podcast in subscriptions %}
      <a href={{podcast.url}} target = "_blank" class="list-group-item list-group-item-action flex-column align-items-start">
        <img src={{podcast.logo_url}}>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{podcast.title}}</h5>
          <small><font color="#cc0000">{{podcast.subscribers}} Subscribers</font></small><br>
          <br>
        </div>
        <p class="mb-1">{{podcast.description}}</p>
        <small>{{podcast.url}}</small>
      </a>
    {% endfor %}
  </div>
{% endblock %}