{% extends 'layout.html' %}

{% block body %}
  <h1>Data Visualization</h1>
  <br>
  <img src="static/freqs.png">
  <br><br>
  <div class="panel panel-default">
    <div class="panel-body">
      This is a visualization of the word frequencies of the descriptions and titles of the top 25 podcasts. Unsurprisingly, podcast
       related words such as "weekly, "new," "talk," and "podcast" itself are very common. What is intersting, however, is some of the 
       other most popular words include "Linux" and "science." This contrasts with the genres of comedy, society & culture, and news & 
       politics that typically dominate the charts. This is indicative that users of gPodder tend to fall under a similar demographic, 
       with this demographic most likely being someone that is relatively tech-savvy.
    </div>
  </div>
{% endblock %}